:root {
    --primary-color: #0c4767;
    --seconday-color: #566e3d;
    --primary-accent: #fe9720;
    --secondary-accent: #c5d86d;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

#root {
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-rows: 7rem 1fr 5rem;
    grid-template-columns: 1fr;
    height: 100%;
}

header {
    grid-area: header;
    background-color: var(--primary-color);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem;
    font-family: 'Cinzel Decorative', Arial, Helvetica, cursive;
    font-size: 3rem;
    font-weight: 400;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: var(--primary-color);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

.main {
    /* height: 100%; */
    flex: 3 60rem;
}

.sidebar {
    flex: 1 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}

/* button {
    background-color: var(--primary-accent);
    color: var(--primary-color);
    padding: .5rem;
    border-radius: .5rem;
} */

.btn-primary {
    background-color: var(--primary-color) !important;
}

.btn-primary:hover {
    background-color: #ffffff !important;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

h3, h5 {
    font-family: 'Cinzel Decorative', Arial, Helvetica, cursive;
    padding: 2.5rem;
    text-align: center;
}

h6 {
    font-size: 1.1rem;
    font-weight: 700;
}

/* SearchBar */

.search-container {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 1.5rem;
}

.searchbar {
    display: flex;
    width: 90%;
    justify-content: center;
}

#show-results {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 2em;
}

input {
    width: 20rem;
}

label {
    margin-right: 1em;
}

.main-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar {
    border-left: .1rem var(--primary-color) solid;
}

/* Welcome */

.welcome {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 4em;
}

.welcome p {
    max-width: 35rem;
}

/* Card Deck Container */

.results {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
}

.card-deck-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.card-container {
    margin-bottom: 1em;
}

.card {
    margin: 1.2rem;
    padding: 1rem;
    background-color: var(--primary-color);
    color: #EFF6EE;
}

.card-body {
    padding: 1rem;
}

.card-deck {
    justify-content: center;
}

.card-img-container {
    height: 15rem;
    width: auto;
    overflow: hidden;
}

.card-img-top {
    height: auto;
    width: 400px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: .75rem;
}

.card-text {
    display: flex;
    flex-direction: column;
    padding-bottom: .5rem;
}

.rating {
    margin-right: .5rem;
}

/* Crawl List */

.crawl-list {
    width: 100%;
}

.crawl-item {
    display: flex;
    padding: 1.5rem;
    font-size: 1rem;
    justify-content: space-between;
}

.crawl-image {
    width: 8rem;
    height: 6.5rem;
    margin-right: 1rem;
}

.crawl-info {
    display: flex;
}

.crawl-button-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clip,
.card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.clip {
    width: 8rem;
}

.card-title {
    width: 100%;
}

.crawl-button-list img,
.fav-btn-list img {
    height: 1.5rem;
    width: 1.5rem;
}

.crawl-button-list img:hover,
.fav-btn-list img:hover {
    cursor: pointer;
}

.fav-btn {
    display: flex;
    justify-content: center;
    margin: 2rem 0;

}

.fav-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 1rem;
}

.fav-form-container,
.fav-list-container {
    width: 100%;
}

.top-line {
    padding-top: 2em;
    border-top: .1rem var(--primary-color) solid;
}

.restaurant-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-match {
    padding-top: 5em;
}

/* Filter */

.sort-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
}

/* Sidebar Favorites */

.tour-list {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.tour-info {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.tour-list div {
    padding-bottom: .25rem;
}

.fav-list-details {
    display: flex;
    flex-direction: column;
}

.fav-btn-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;
}

/*  Modal  */

.modal-img {
    max-width: 100%;
    height: auto;
}

.rest-details,
.addy {
    display: flex;
    flex-direction: column;
}

.rest-details h6 {
    width: 7rem;
}

.modal-info span {
    margin-left: 2rem;
    font-size: 1rem;
}

.modal-info {
    display: flex;
    padding-bottom: .2rem;
}

/* swal */

.swal-button {
    background-color: var(--primary-color);
    color: #ffffff;
}

.swal-button:hover {
    background-color: #ffffff;
    color: var(--primary-color);
    border: .1rem var(--primary-color) solid;
}